.flash-card {
  width: 70%;
  height: 100%;
  perspective: 1000px;
  border-radius: 5px;
}

.flash-card img {
  width: 60%;
  height: auto;
  border-radius: 5px;
}
.flash-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-clicked {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg);
}
